
/****************************************************************************
                     RESPONSIVE STUFF, PLEASE DON'T TOUCH!
****************************************************************************/
 
@media only screen and (min-width:1537px){
    body{
        font-size:16px;
    }
    
    .posts{
        min-width:calc(16.6% - ({text:post margin} + {text:post margin}));
    }
{block:ifnotshowcaptions}
.overlay2 .post_footer_like_reblog{
    margin-top:-90px;
    width:250px;
}

.overlay2 .post_footer_like_reblog a {
    background-color:{color:Post Controls};
    color:{color:Post Background};
    padding:15px;
    margin:25px;
    width:20px;
    height:20px;
    font-size:20px;
}
{/block:ifnotshowcaptions}
}

@media only screen and (max-width:1536px){
.posts{
    min-width:calc(20% - ({text:post margin} + {text:post margin}));
    {block:permalinkpage}
    width:700px;
    {/block:permalinkpage}    
    
}    
}
@media only screen and (max-width:1365px){
.posts{
    min-width:calc(25% - ({text:post margin} + {text:post margin}));
    {block:permalinkpage}
    width:700px;
    {/block:permalinkpage}    
}
}
 
@media only screen and (max-width:1079px){
.posts{
    min-width:calc(50% - ({text:post margin} + {text:post margin}));
    {block:permalinkpage}
    width:540px;
    {/block:permalinkpage}    
}
}

@media only screen and (max-width:740px){

.posts{
    width:calc(100% - ({text:post margin} + {text:post margin}));
    {block:permalinkpage}
    width:500px;
    {/block:permalinkpage}    
}
}
 
@media only screen and (max-width:550px){
.blogtitle{
    font-size:36px;
}

.posts{
    width:calc(100% - ({text:post margin} + {text:post margin}));
    {block:permalinkpage}
    width:300px;
    {/block:permalinkpage}   
}



}
